<template name="listMyProperty">
  <div class="container">
    {{#if noCurrentUser}}
    <div class="container">
      {{> login}}
    </div>
    {{else}}
    <div class="container">
      <h1>Property List</h1>
      <a class= "addButton btn btn-primary pull-right" href="{{pathFor route='insertPropertyForm'}}" role="button">Add property</a>

    </div>

    <!-- this is the point I will start changing -->

    <div class="container table-responsive">
      <table class="css-serial table-striped table-responsive table-hover">
        <thead>
          <tr>
            <th>#</th>{{#if isInRole 'edit'}}
            <th class="col-md-1">Edit</th>{{/if}}
            <th class="col-md-2">PropertyID</th>
            <th class="col-md-1">Enumeration Area</th>
            <th class="col-md-4">Property Address</th>
            <th class="col-md-3">Owner's Name</th>
            <th class="col-md-1">Phone Number</th>
          </tr>
        </thead>
        <tbody>
          {{#each property}}
          <tr>
            <strong><td></td></strong>{{#if isInRole 'edit'}}
            <td align="center"><a href="/listProperty/{{_id}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a><br>
              <a href="#addCategoryModal" data-toggle="modal" data-property-id="{{_id}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            </td>{{/if}}
            <td><a href="/viewProperty/{{_id}}">{{_id}}</a></td>
            <td align="center">{{enumArea}}</td>
            <td>{{propAddrNo}} {{propAddrName}} {{propAddrType}}, {{abakalikiWard}}{{izziWard}}{{ebonyiWard}}{{ohaukwuWard}}{{ezzaNorthWard}}{{ezzaSouthWard}}{{ikwoWard}}{{ishieluWard}}{{afikpoNorthWard}}{{afikpoSouthWard}}{{ivoWard}}{{ohaozaraWard}}{{onichaWard}} ,{{propAddrLga}}</td>
            <td>{{surName}}, {{firstName}} {{otherName}}</td>
            <td>{{phoneNo1}} <br> {{PhoneNo2}}</td>

            </tr> <!-- end of the main property table row -->
          {{/each}}
        </tbody>
      </table>
    </div>
    {{> addCategoryModal}}
    {{/if}}
  </div>
</template>
