<template name="footer">
  <div class="container">
    <footer class="row-footer">
    <div class="row">
      <div class="col-xs-5 col-sx-offset-1 col-sm-1 col-sm-offset-1">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/aboutus">About</a></li>
          <li><a href="/contactus">Contact</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-5">
        <h5>Our Address</h5>
        <address>
          Head Office<br>
          Ebonyi Data Management Agency, Abakaliki<br>
          Ebonyi State, NIGERIA<br>
          <i class="fa fa-phone"></i>: +234 806 4727 942<br>
          <i class="fa fa-fax"></i>: +234 818 6459 659<br>
          <i class="fa fa-envelope"></i>: <a href="mailto:info@ebonyidma.mod.bz">info@ebonyidma.mod.bz</a>
        </address>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="navbar navbar-nav" style="padding: 40px 10px;">
          <a class="btn btn-social-icon btn-google-plus" href="http://www.google.com/+"><i class="fa fa-google-plus"></i></a>
          <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
          <a class="btn btn-social-icon btn-twitter" href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-social-icon btn-youtube" href="http://www.youtube.com/"><i class="fa fa-youtube"></i></a>
          <a class="btn btn-social-icon btn-env" href="mailto:"><i class="fa fa-envelope-o"></i></a>
        </div>

      </div>
      <div class="col-xs-12">
        <p style="padding:10px;"></p>
        <p align=center>© Copyright 2016 Government of Ebonyi State</p>
      </div>
    </div>
    </footer>
  </div>

</template>
