<template name="adminNewEntertain">
  {{> adminAlert}}
  <div class="box box-default">
    <div class="box-body">
          {{#autoForm collection="Entertain" id="adminAddEntertainForm" type="method" meteormethod="addEntertain" resetOnSuccess=true}}
          {{> afQuickField name="entType" options="allowed"}}
          {{#if afFieldValueIs name="entType" value="Hotel"}}
          {{> afQuickField name="hotel" options="allowed"}}
          {{/if}}
          {{#if afFieldValueIs name="entType" value="Continental Resturant"}}
          {{> afQuickField name="cres" options="allowed"}}
          {{/if}}
          {{#if afFieldValueIs name="entType" value="Ordinary Resturant"}}
          {{> afQuickField name="ores" options="allowed"}}
          {{/if}}
          {{#if afFieldValueIs name="entType" value="Recreational Facility"}}
          {{> afQuickField name="recreation" options="allowed"}}
          {{/if}}
          {{#if afFieldValueIs name="entType" value="Night Club"}}
          {{> afQuickField name="nclub" options="allowed"}}
          {{/if}}
          {{#if afFieldValueIs name="entType" value="Video Rentals"}}
          {{> afQuickField name="video" options="allowed"}}
          {{/if}}

          {{> afQuickField name="bizName" }}
          {{> afQuickField name="firstName" }}
          {{> afQuickField name="otherName" }}
          {{> afQuickField name="surName" }}

          {{> afQuickField name="sex" options="allowed" }}
          {{> afQuickField name="maritalStatus" options="allowed" }}
          {{> afQuickField name="doBirth"}}

          {{> afQuickField name="phoneNo1"}}
          {{> afQuickField name="phoneNo2" }}
          {{> afQuickField name="email" }}

          {{> afQuickField name="createdOn"}}
          {{> afQuickField name="createdBy" }}
          {{> afQuickField name="propId" value=_id}}

        <div class="form-group">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      {{/autoForm}}
    </div>
  </div>
</template>
