<template name="adminEditCommercial">
  {{> adminAlert}}
  <div class="box box-default">
    <div class="box-body">
      {{#autoForm collection="Commercial" id="adminEditCommercialForm" type="update"  doc=doc resetOnSuccess=true}}
      {{> afQuickField name="comType" options="allowed"}}
      {{#if afFieldValueIs name="comType" value="Business Center"}}
      {{> afQuickField name="bizcenter" options="allowed"}}
      {{/if}}
      {{#if afFieldValueIs name="comType" value="Printing Press"}}
      {{> afQuickField name="printpress" options="allowed"}}
      {{/if}}
      {{#if afFieldValueIs name="comType" value="Transport"}}
      {{> afQuickField name="transport" options="allowed"}}
      {{/if}}
      {{#if afFieldValueIs name="comType" value="Electrical/Electronics Shop"}}
      {{> afQuickField name="elect" options="allowed"}}
      {{/if}}
      {{#if afFieldValueIs name="comType" value="Boutique/Tailoring"}}
      {{> afQuickField name="boutique" options="allowed"}}
      {{/if}}
      {{#if afFieldValueIs name="comType" value="Artisans"}}
      {{> afQuickField name="artisan" options="allowed"}}
      {{/if}}

      {{> afQuickField name="bizName" }}
      {{> afQuickField name="firstName" }}
      {{> afQuickField name="otherName" }}
      {{> afQuickField name="surName" }}

      {{> afQuickField name="sex" options="allowed" }}
      {{> afQuickField name="maritalStatus" options="allowed" }}
      {{> afQuickField name="doBirth"}}

      {{> afQuickField name="phoneNo1"}}
      {{> afQuickField name="phoneNo2" }}
      {{> afQuickField name="email" }}

      {{> afQuickField name="createdOn"}}
      {{> afQuickField name="createdBy" }}
      
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
      {{/autoForm}}
    </div>
  </div>
</template>
