<template name="insertCommercialForm">
  {{#if isSuccessfulInsert}}
  <div class="container">
    {{> alert}}
  </div>
  {{else}}
  <div class="container">
  {{#if noCurrentUser}}
    <div class="container">
  {{> login}}
</div>
  {{else}}
  <h1>Insert Commercial Form!</h1>
  <div class="well">
      {{#autoForm collection="Commercial" id="insertCommercialForm" type="insert" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6" type="method" meteormethod="addCommercial" resetOnSuccess=true}}
      <fieldset>
        <legend>Business Details</legend>

        {{> afQuickField name="comType" options="allowed"}}
        {{#if afFieldValueIs name="comType" value="Business Center"}}
        {{> afQuickField name="bizcenter" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="comType" value="Printing Press"}}
        {{> afQuickField name="printpress" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="comType" value="Transport"}}
        {{> afQuickField name="transport" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="comType" value="Electrical/Electronics Shop"}}
        {{> afQuickField name="elect" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="comType" value="Boutique/Tailoring"}}
        {{> afQuickField name="boutique" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="comType" value="Artisans"}}
        {{> afQuickField name="artisan" options="allowed"}}
        {{/if}}

        {{> afQuickField name="bizName" }}
        <legend>Owner's Details</legend>
        {{> afQuickField name="firstName" }}
        {{> afQuickField name="otherName" }}
        {{> afQuickField name="surName" }}

        {{> afQuickField name="sex" options="allowed" }}
        {{> afQuickField name="maritalStatus" options="allowed" }}
        {{> afQuickField name="doBirth"}}

        {{> afQuickField name="phoneNo1"}}
        {{> afQuickField name="phoneNo2" }}
        {{> afQuickField name="email" }}

        {{> afQuickField name="createdOn"}}
        {{> afQuickField name="createdBy" }}
        {{> afQuickField name="propId" value=_id}}

  </fieldset>

  <button type = "submit" class="btn btn-primary">Submit</button>

    {{/autoForm}}
</div>
{{/if}}
</div>
{{/if}}
</template>
