<template name="updateResidentialForm">
  {{#if isSuccessfulInsert}}
  <div class="container">
    <h1>The residential category enumeration form was successfully updated to the database!</h1>
  </div>
  {{else}}
  <div class="container">
  {{#if noCurrentUser}}
    <div class="container">
  {{> login}}
</div>
  {{else}}
  {{#if isInRole 'edit'}}
  <h1>Update Residential Forms!</h1>
  <div class="well">


    {{#autoForm collection="Residential" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-5" id="updateResidentialForm" type="method-update" meteormethod="updateResidential"
    doc=this }}
    <fieldset>
      <legend>Accomodation Type</legend>
      {{> afQuickField name="accoType" options="allowed"}}
      {{#if afFieldValueIs name="accoType" value="Duplex"}}
      {{> afQuickField name="duplex" options="allowed"}}
      {{/if}}
      {{#if afFieldValueIs name="accoType" value="Bungalow"}}
      {{> afQuickField name="bungalow" options="allowed"}}
      {{/if}}
      {{#if afFieldValueIs name="accoType" value="Apartment Block"}}
      {{> afQuickField name="apartment" options="allowed"}}
      {{/if}}


    <legend>Tenant's Details</legend>

      {{> afQuickField name="firstName" }}
      {{> afQuickField name="otherName" }}
      {{> afQuickField name="surName" }}

      {{> afQuickField name="occupation"}}

      {{> afQuickField name="sex" options="allowed" }}
      {{> afQuickField name="maritalStatus" options="allowed" }}
      {{> afQuickField name="doBirth"}}
      {{> afQuickField name="phoneNo1"}}
      {{> afQuickField name="phoneNo2" }}
      {{> afQuickField name="email" }}

      {{> afQuickField name="createdOn"}}
      {{> afQuickField name="createdBy" }}

</fieldset>

<button type="submit" class="btn btn-primary">Update</button>

    {{/autoForm}}
    </div>
    <div>
    {{#if isInRole 'admin'}}
     {{#quickRemoveButton collection="Residential" _id=this._id beforeRemove=beforeRemove class="btn btn-danger" }}Delete{{/quickRemoveButton}}
     {{/if}}
  </div>
  {{else}}
  {{> forbidden}}
  {{/if}}
  {{/if}}
</div>
{{/if}}
</template>
