<template name="commercialDemandNotice">
  {{#if noCurrentUser}}
    <div class="container">
  {{> login}}
  </div>
  {{else}}
  <div class="container">
  {{#if isInRole 'edit'}}
  <h3>Government of Ebonyi State</h3>
  <p>Id: {{_id}}  </p>
  <p>Business Name:{{comType}}</p>
  <p>Owner's Name:  </p>

  <div>
    <h3>Commercial Details</h3>
    <table class="table table-hover css-serial table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Business Name</th>
          <th>Owner's Name</th>
          <th>Business Type</th>
          <th>Phone No</th>
          <th>Payment Type</th>
          <th>Annual Payment</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td></td>
          <td>{{bizName}}<br><strong>{{_id}}</strong></td>
          <td>{{surName}},<br>{{firstName}} {{otherName}}</td>
          <td>{{comType}}:<br>{{bizcenter}}{{printpress}}{{transport}}{{elect}}{{boutique}}{{artisan}}</td>
          <td>{{phoneNo1}}<br>{{phoneNo2}}</td>
          <td>{{getPaymentType comType bizcenter printpress transport elect boutique artisan}}</td>
          <td>{{getAnnualPayment comType bizcenter printpress transport elect boutique artisan}}</td>
        </tr>

      </tbody>
    </table>
  </div> <!--end table div -->

    {{else}}
    {{> forbidden}}
    {{/if}}
  </div>
  {{/if}}

</template>
