<template name="insertMarketForm">
  <div class="container">
  {{#if noCurrentUser}}
    <div class="container">
  {{> login}}
</div>
  {{else}}
  <h1>Insert Market Store Forms!</h1>
  <div class="well">
      {{#autoForm collection="Market" id="insertMarketForm" type="insert" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6" type="method" meteormethod="addMarket" resetOnSuccess=true}}

      <fieldset>
        <legend>Market Details</legend>

        {{> afQuickField name="mktName"}}

        {{> afQuickField name="mktAddrNo"}}
        {{> afQuickField name="mktAddrName"}}
        {{> afQuickField name="mktAddrType" options="allowed"}}
        {{> afQuickField name="mktAddrLga" options="allowed"}}
        {{#if afFieldValueIs name="mktAddrLga" value="Abakaliki"}}
        {{> afQuickField name="abakalikiWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="mktAddrLga" value="Ebonyi"}}
        {{> afQuickField name="ebonyiWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="mktAddrLga" value="Izzi"}}
        {{> afQuickField name="izziWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="mktAddrLga" value="Ohaukwu"}}
        {{> afQuickField name="ohaukwuWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="mktAddrLga" value="Ezza North"}}
        {{> afQuickField name="ezzaNorthWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="mktAddrLga" value="Ezza South"}}
        {{> afQuickField name="ezzaSouthWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="mktAddrLga" value="Ikwo"}}
        {{> afQuickField name="ikwoWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="mktAddrLga" value="Ishielu"}}
        {{> afQuickField name="ishieluWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="mktAddrLga" value="Afikpo North"}}
        {{> afQuickField name="afikpoNorthWard" options="allowed"}}
        {{/if}}

        {{#if afFieldValueIs name="mktAddrLga" value="Afikpo South"}}
        {{> afQuickField name="afikpoSouthWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="mktAddrLga" value="Ivo"}}
        {{> afQuickField name="ivoWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="mktAddrLga" value="Ohaozara"}}
        {{> afQuickField name="ohaozaraWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="mktAddrLga" value="Onicha"}}
        {{> afQuickField name="onichaWard" options="allowed"}}
        {{/if}}


        <legend>Market Owner's Details</legend>

        {{> afQuickField name="firstName" }}
        {{> afQuickField name="otherName" }}
        {{> afQuickField name="surName" }}

        {{> afQuickField name="ownAddrNo"}}
        {{> afQuickField name="ownAddrName"}}
        {{> afQuickField name="ownAddrType" options="allowed"}}
        {{> afQuickField name="ownAddrLga" options="allowed"}}
        {{#if afFieldValueIs name="ownAddrLga" value="Abakaliki"}}
        {{> afQuickField name="ownAbakalikiWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Ebonyi"}}
        {{> afQuickField name="ownEbonyiWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Izzi"}}
        {{> afQuickField name="ownIzziWard" options="allowed"}}
        {{/if}}

        {{#if afFieldValueIs name="ownAddrLga" value="Ohaukwu"}}
        {{> afQuickField name="ownOhaukwuWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Ezza North"}}
        {{> afQuickField name="ownEzzaNorthWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Ezza South"}}
        {{> afQuickField name="ownEzzaSouthWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Ikwo"}}
        {{> afQuickField name="ownIkwoWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Ishielu"}}
        {{> afQuickField name="ownIshieluWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Afikpo North"}}
        {{> afQuickField name="ownAfikpoNorthWard" options="allowed"}}
        {{/if}}

        {{#if afFieldValueIs name="ownAddrLga" value="Afikpo South"}}
        {{> afQuickField name="ownAfikpoSouthWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Ivo"}}
        {{> afQuickField name="ownIvoWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Ohaozara"}}
        {{> afQuickField name="ownOhaozaraWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Onicha"}}
        {{> afQuickField name="ownOnichaWard" options="allowed"}}
        {{/if}}

        {{> afQuickField name="sex" options="allowed" }}
        {{> afQuickField name="maritalStatus" options="allowed" }}
        {{> afQuickField name="doBirth"}}
        {{> afQuickField name="phoneNo1"}}
        {{> afQuickField name="phoneNo2"}}
        {{> afQuickField name="email"}}

        {{> afQuickField name="createdOn"}}
       {{> afQuickField name="createdBy" }}
      </fieldset>

      <button type = "submit" class="btn btn-primary">Submit</button>
    {{/autoForm}}
  </div> <!-- end wells div -->
{{/if}}
</div> <!-- end container div -->
</template>
