
<template name="insertQuarryForm">
  <div class = "container">
  {{#if noCurrentUser}}
    <div class="container">
  {{> login}}
</div>
  {{else}}
  <h1>Insert Quarry Forms!</h1>
  <div class="well">
      {{#autoForm collection="Quarry" id="insertQuarryForm" type="insert" template="bootstrap3-horizontal" type="method" meteormethod="addQuarry" resetOnSuccess=true}}

      <fieldset>
        <legend>Quarry Details</legend>

        {{> afQuickField name="qryName"}}
        {{> afQuickField name="location"}}
        {{> afQuickField name="qryAddrNo"}}
        {{> afQuickField name="qryAddrName"}}
        {{> afQuickField name="qryAddrType" options="allowed"}}
        {{> afQuickField name="qryAddrLga" options="allowed"}}

        {{#if afFieldValueIs name="qryAddrLga" value="Abakaliki"}}
        {{> afQuickField name="abakalikiWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="qryAddrLga" value="Ebonyi"}}
        {{> afQuickField name="ebonyiWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="qryAddrLga" value="Izzi"}}
        {{> afQuickField name="izziWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="qryAddrLga" value="Ohaukwu"}}
        {{> afQuickField name="ohaukwuWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="qryAddrLga" value="Ezza North"}}
        {{> afQuickField name="ezzaNorthWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="qryAddrLga" value="Ezza South"}}
        {{> afQuickField name="ezzaSouthWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="qryAddrLga" value="Ikwo"}}
        {{> afQuickField name="ikwoWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="qryAddrLga" value="Ishielu"}}
        {{> afQuickField name="ishieluWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="qryAddrLga" value="Afikpo North"}}
        {{> afQuickField name="afikpoNorthWard" options="allowed"}}
        {{/if}}

        {{#if afFieldValueIs name="qryAddrLga" value="Afikpo South"}}
        {{> afQuickField name="afikpoSouthWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="qryAddrLga" value="Ivo"}}
        {{> afQuickField name="ivoWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="qryAddrLga" value="Ohaozara"}}
        {{> afQuickField name="ohaozaraWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="qryAddrLga" value="Onicha"}}
        {{> afQuickField name="onichaWard" options="allowed"}}
        {{/if}}

        {{> afQuickField name="qryType" options="allowed"}}
        {{#if afFieldValueIs name="qryType" value="Burrow Pit"}}
        {{> afQuickField name="pit" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="qryType" value="Stone Crusher"}}
        {{> afQuickField name="crush" options="allowed"}}
        {{/if}}

        <legend>Quarry Owner's Details</legend>

        {{> afQuickField name="firstName" }}
        {{> afQuickField name="otherName" }}
        {{> afQuickField name="surName" }}

        {{> afQuickField name="ownAddrNo"}}
        {{> afQuickField name="ownAddrName"}}
        {{> afQuickField name="ownAddrType" options="allowed"}}
        {{> afQuickField name="ownAddrLga" options="allowed"}}
        {{#if afFieldValueIs name="ownAddrLga" value="Abakaliki"}}
        {{> afQuickField name="ownAbakalikiWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Ebonyi"}}
        {{> afQuickField name="ownEbonyiWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Izzi"}}
        {{> afQuickField name="ownIzziWard" options="allowed"}}
        {{/if}}


        {{#if afFieldValueIs name="ownAddrLga" value="Ohaukwu"}}
        {{> afQuickField name="ownOhaukwuWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Ezza North"}}
        {{> afQuickField name="ownEzzaNorthWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Ezza South"}}
        {{> afQuickField name="ownEzzaSouthWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Ikwo"}}
        {{> afQuickField name="ownIkwoWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Ishielu"}}
        {{> afQuickField name="ownIshieluWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Afikpo North"}}
        {{> afQuickField name="ownAfikpoNorthWard" options="allowed"}}
        {{/if}}

        {{#if afFieldValueIs name="ownAddrLga" value="Afikpo South"}}
        {{> afQuickField name="ownAfikpoSouthWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Ivo"}}
        {{> afQuickField name="ownIvoWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Ohaozara"}}
        {{> afQuickField name="ownOhaozaraWard" options="allowed"}}
        {{/if}}
        {{#if afFieldValueIs name="ownAddrLga" value="Onicha"}}
        {{> afQuickField name="ownOnichaWard" options="allowed"}}
        {{/if}}

        {{> afQuickField name="sex" options="allowed" }}
        {{> afQuickField name="maritalStatus" options="allowed" }}
        {{> afQuickField name="doBirth"}}

        {{> afQuickField name="phoneNo1"}}
        {{> afQuickField name="phoneNo1"}}
        {{> afQuickField name="email"}}

        {{> afQuickField name="createdOn"}}
       {{> afQuickField name="createdBy" }}
      </fieldset>

      <button type="submit" class="btn btn-primary">Submit</button>
    {{/autoForm}}
  </div> <!-- end wells div -->
{{/if}}
</div> <!-- end container div -->
</template>
