<template name="updateQuarryForm">
  <div class="container">
  {{#if noCurrentUser}}
    <div class="container">
  {{> login}}
</div>
  {{else}}
  {{#if isInRole 'edit'}}
  <h1>Update Quarry Forms!</h1>
  <div class="well">


    {{#autoForm collection="Quarry" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-5" id="updateQuarryForm" type="method-update" meteormethod="updateQuarry"
    doc=this }}
    <fieldset>
      <legend>Quarry Details</legend>

      {{> afQuickField name="qryName"}}

      {{> afQuickField name="qryAddrNo"}}
      {{> afQuickField name="qryAddrName"}}
      {{> afQuickField name="qryAddrType" options="allowed"}}
      {{> afQuickField name="qryAddrLga" options="allowed"}}
      {{#if afFieldValueIs name="qryAddrLga" value="Abakaliki"}}
      {{> afQuickField name="abakalikiWard" options="allowed"}}
      {{/if}}
      {{#if afFieldValueIs name="qryAddrLga" value="Ebonyi"}}
      {{> afQuickField name="ebonyiWard" options="allowed"}}
      {{/if}}
      {{#if afFieldValueIs name="qryAddrLga" value="Izzi"}}
      {{> afQuickField name="izziWard" options="allowed"}}
      {{/if}}

      {{> afQuickField name="qryType" options="allowed"}}
      {{#if afFieldValueIs name="qryType" value="Burrow Pit"}}
      {{> afQuickField name="pit" options="allowed"}}
      {{/if}}
      {{#if afFieldValueIs name="qryType" value="Stone Crusher"}}
      {{> afQuickField name="crush" options="allowed"}}
      {{/if}}

      <legend>Quarry Owner's Details</legend>

      {{> afQuickField name="firstName" }}
      {{> afQuickField name="otherName" }}
      {{> afQuickField name="surName" }}

      {{> afQuickField name="ownAddrNo"}}
      {{> afQuickField name="ownAddrName"}}
      {{> afQuickField name="ownAddrType" options="allowed"}}
      {{> afQuickField name="ownAddrLga" options="allowed"}}
      {{#if afFieldValueIs name="ownAddrLga" value="Abakaliki"}}
      {{> afQuickField name="ownAbakalikiWard" options="allowed"}}
      {{/if}}
      {{#if afFieldValueIs name="ownAddrLga" value="Ebonyi"}}
      {{> afQuickField name="ownEbonyiWard" options="allowed"}}
      {{/if}}
      {{#if afFieldValueIs name="ownAddrLga" value="Izzi"}}
      {{> afQuickField name="ownIzziWard" options="allowed"}}
      {{/if}}

      {{> afQuickField name="sex" options="allowed" }}
      {{> afQuickField name="maritalStatus" options="allowed" }}
      {{> afQuickField name="doBirth"}}

      {{> afQuickField name="phoneNo1"}}
      {{> afQuickField name="phoneNo1"}}
      {{> afQuickField name="email"}}

      {{> afQuickField name="createdOn"}}
     {{> afQuickField name="createdBy" }}
    </fieldset>

    <button type="submit" class="btn btn-primary">Update</button>

    {{/autoForm}}
    </div>
    <div>
    {{#if isInRole 'admin'}}
     {{#quickRemoveButton collection="Quarry" _id=this._id beforeRemove=beforeRemove class="btn btn-danger" }}Delete{{/quickRemoveButton}}
     {{/if}}
  </div>
  {{else}}
  {{> forbidden}}
  {{/if}}
  {{/if}}
</div>
</template>
